hydra:
  searchpath:
    # - file://verl/trainer/config
    - file:///root/lai-code/verl/verl/trainer/config

defaults:
  - ppo_trainer
  - _self_

data:
  gen_batch_size: ${data.train_batch_size}

reward_model:
  reward_manager: dapo
  overlong_buffer:
    enable: False
    len: 0
    penalty_factor: 0.0
    log: False

algorithm:
  filter_groups:
    enable: False
    metric: null
    max_num_gen_batches: 0

trainer:
  project_name: verl-dapo-quant

# =========================
# 新增的部分
# =========================
actor_rollout_ref:
  quant:
    enable: True
    group_size: 128

    # ===== bits 配置 =====
    bits:
      start: 3
      enable_progressive: False
      target: 3
      begin_pg: 1
      pg_duration: 100

    # ===== soft-round 配置 =====
    soft_round:
      enable: False

